/* reset margin and padding, */
/* center <canvas> by using flexbox */
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* the "drawing area": a simple <svg> set to be filled gray */
#svg-container {
  background-color: rgb(234,234,234)
}

/* set trail and dot to be black */
#svg-container g polyline {
  stroke: black;
  stroke-width: 2;
  fill: none;
}

#svg-container g circle {
  fill: black;
  stroke: none;
}
